<div class="container">
  <div class="button-container">
    <button mat-raised-button color="primary" (click)="getUsers()">
      Click to response
    </button>
    <button mat-raised-button color="warn" (click)="clearUsers()">
      Clear users
    </button>    
  </div>

  <mat-form-field appearance="outline" class="requests-number-field">
    <mat-label>Number of Requests</mat-label>
    <input matInput [(ngModel)]="requestsNumber" type="number" min="1">
  </mat-form-field>

  <div class="info">
    <div class="users-container">
      <h1>Users</h1>
      <mat-list *ngIf="users.length; else noUsers">
        <mat-list-item *ngFor="let user of users" (click)="selectUser(user.id)">
          {{user.name}}
        </mat-list-item>
      </mat-list>
    </div>

    <div class="selected-user-container">
      <h1>Selected user</h1>
      <mat-card class="selected-user" *ngIf="selectedUser; else noSelectedUser">
        <mat-card-content>
          <p>Name: {{selectedUser.name}}</p>
          <p>Email: {{selectedUser.email}}</p>
          <p>Phone: {{selectedUser.phone}}</p>
          <p>Website: {{selectedUser.website}}</p>
          <p>Company: {{selectedUser.company.name}}</p>
          <p>Address: {{selectedUser.address.city}}</p>
          <p>Geo: {{selectedUser.address.geo.lat}} {{selectedUser.address.geo.lng}}</p>
        </mat-card-content>
      </mat-card>

      <ng-template #noSelectedUser>
        <div class="empty-message">No selected user</div>
      </ng-template>

      <ng-template #noUsers>
        <div class="empty-message">No users list</div>
      </ng-template>
    </div>
  </div>
</div>


<div class="loading-container" *ngIf="loading">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>